[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
six = "*"
python-dateutil = "*"
urllib3 = "*"
py = "*"
randomize = "*"
geopandas = "*"
earthengine-api = "*"
matplotlib = "*"
folium = "*"
geemap = "*"
python-dotenv = "*"
ipython = "*"
argparse = "*"
osmnx = "*"
geojson = "*"
pygdal = "==3.4.1.10"
rastertodataframe = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.9"
