[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
six = "*"
python-dateutil = "*"
urllib3 = "*"
py = "*"
randomize = "*"
geopandas = "*"
earthengine-api = "*"
matplotlib = "*"
folium = "*"
geemap = "*"
python-dotenv = "*"

[dev-packages]
black = "*"
coverage = "*"
nose = "*"
pluggy = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
