openapi: 3.0.0
info:
  title: The Earth Observatory Natural Event Tracker ([EONET](https://eonet.sci.gsfc.nasa.gov/what-is-eonet))
  version: 3.0.0
servers:
  - url: https://eonet.sci.gsfc.nasa.gov/api/v3
  - url: http://eonet.sci.gsfc.nasa.gov/api/v3

paths:
  /categories/{categoryId}: # ../categories
    get:
      summary: Returns a json object of categories.
      description: ""
      parameters:
        - name: categoryId
          in: path
          required: true
          description: Filter the events by the Category.
          schema:
            type: string
        - name: source
          in: query
          required: false
          description: Filter the topically-constrained events by the Source. Multiple sources can be included in the parameter, comma separated, operates as a boolean OR.
          schema:
            type : string
        - name: status
          in: query
          required: false
          description: Events that have ended are assigned a closed date and the existence of that date will allow you to filter for only-open or only-closed events. Omitting the status parameter will return only the currently open events.
          schema:
            type: string
            default: open
            enum:
            - open
            - closed
        - name: limit
          in: query
          required: false
          description: Limits the number of events returned.
          schema:
            type: integer
            format: int64
        - name: days
          in: query
          required: false
          description: Limit the number of prior days (including today) from which events will be returned. 
          schema:
            type: integer
            format: int64
        - name: start
          in: query
          required: false
          description: Select a starting date for the events. To be used together with end parameter.
          schema:
            type: string
        - name: end
          in: query
          required: false
          description: Select an ending date for the events. To be used together with start parameter for defining a range.
          schema:
            type: string
          
      responses:
        200: #status code
          description: A JSON object upon successful operation
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/CategoryResponse'
components:
  schemas:
    Category:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        link:
          type: string
    CategoryResponse:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        link:
          type: string
                
